extends ../shared/template

block content
  h1= title
  h2#total $#{rate.toFixed(2)}

  label Step 1: Pick Your Floor
  select#floors
    option Select a Floor
    each floor in floors
      option(data-img=floor.photo, value=floor._id)= floor.name
  label Step 2: Name Your Room
  input#name(type='text')
  label Step 3: Save Your Room
  button#save-room Save Room

  #building(data-id=bldg._id.toString())
    - for(var y=0; y < bldg.y; y++)
      .row
        - for(var x=0; x < bldg.x; x++)
          .cell(data-x=x, data-y=y)

block scripts
  script.
    var building = !{JSON.stringify(bldg)};
